<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/static/bootstrap.min.css">
    <script type="text/javascript" src='/static/static/bootstrap.min.js'></script>
    <link rel="stylesheet" href="/static/css/student_left_bar.css">
    <link rel="stylesheet" href="/static/css/message_box.css">
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
    {% block title %}
        <title>主页</title>
    {% endblock title %}
</head>
<body>
<input type="checkbox" id="check">
<label for="check" style="display: inline;">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>学生({{ username }})</header>
    <ul>
        <li><a href="/student/home/"><i class="fas fa-home"></i>主页</a></li>
        <li><a href="#"><i class="fas fa-user-plus"></i>人脸录入</a></li>
        <li><a href="/student/cat_class/"><i class="fas fa-stream"></i>查看班级</a></li>
        <li><a href="#"><i class="fas fa-calendar-week"></i>打卡记录</a></li>
        <li><a href="/student/message_center/"><i class="far fa-question-circle"></i>通知中心</a></li>
        <li><a href="/student/edit_passwd/"><i class="fas fa-key"></i>修改密码</a></li>
        <li><a href="/logout/"><i class="fas fa-sign-out-alt"></i>退出登录</a></li>
    </ul>
</div>
<section>
    {% block content %}{% endblock content %}
</section>
<p style="background:none;height: 5%;position: fixed;bottom: 0px;width: 100%;text-align: center;
"><img style="padding-top:2px; width: 15px" src="/static/img/备案.png"><a class="banquan" style="color:#000;"
                                                                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=2021015036"
                                                                        target="_blank">陕ICP备2021015036号-1</a></p>
</body>
</html>
