<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/static/bootstrap.min.css">
    <script type="text/javascript" src='/static/static/bootstrap.min.js'></script>
    <link rel="stylesheet" href="/static/css/student_left_bar.css">
    <link rel="stylesheet" href="/static/css/message_box.css">
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
    {% block title %}
        <title>主页</title>
    {% endblock title %}
</head>
<body>
<input type="checkbox" id="check">
<label for="check" style="display: inline;">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>学生({{ username }})</header>
    <ul>
        <li><a href="/student/home/"><i class="fas fa-home"></i>主页</a></li>
        <li><a href="/student/edit_photo/"><i class="fas fa-user-plus"></i>人脸录入</a></li>
        <li><a href="/student/cat_class/"><i class="fas fa-stream"></i>查看班级</a></li>
        <li><a href="/student/punch_record/"><i class="fas fa-calendar-week"></i>打卡记录</a></li>
        <li><a href="/student/message_center/"><i class="far fa-question-circle"></i>通知中心</a></li>
        <li><a href="/student/edit_passwd/"><i class="fas fa-key"></i>修改密码</a></li>
        <li><a href="/logout/"><i class="fas fa-sign-out-alt"></i>退出登录</a></li>
    </ul>
</div>
<section>
    {% block content %}{% endblock content %}
</section>
<p style="background:none;height: 5%;position: fixed;bottom: 0px;width: 100%;text-align: center;
"><img style="padding-top:2px; width: 15px" src="/static/img/备案.png"><a class="banquan" style="color:#000;"
                                                                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=2021015036"
                                                                        target="_blank">陕ICP备2021015036号-1</a></p>

<script type="text/javascript" src="/static/static/jquery-3.6.0.js"></script>
<script type="text/javascript" src='/static/static/toastr.min.js'></script>
<link rel="stylesheet" href="/static/static/toastr.min.css">
<script>
    function message_pupus() {
        $.ajax({
            type: 'POST',
            url: '/message_center_pupups_ajax/', //路由加'/'否则会报ssh错误
            data: {},
            success: function (data) {
                data = JSON.parse(data);
                let message_conunt = data['message_count']
                let message_list = data['message_list']
                if (message_conunt === 0) {
                    return
                }
                for (var i = 0; i < message_list.length; i++) {  //遍历数组
                    let title = message_list[i]['title']
                    let message = message_list[i]['message']
                    let time = message_list[i]['time']
                    toastr.info(`<[${time}][${title}]>   ${message}`);
                }

                // 发送有几条未读信息
                toastr.warning(`有${message_conunt}条未读消息，请及时查看！`);
            },
        })
    }

    toastr.options = {
        "closeButton": true, //是否显示关闭按钮
        "debug": false, //是否使用debug模式
        "progressBar": true, //是否显示进度条，当为false时候不显示；当为true时候，显示进度条，当进度条缩短到0时候，消息通知弹窗消失
        "positionClass": "toast-top-right",//显示的动画时间
        "showDuration": "400", //显示的动画时间
        "hideDuration": "1000", //消失的动画时间
        "timeOut": "7000", //展现时间
        "extendedTimeOut": "2500", //加长展示时间
        "showEasing": "swing", //显示时的动画缓冲x方式
        "hideEasing": "linear", //消失时的动画缓冲方式
        "showMethod": "fadeIn", //显示时的动画方式
        "hideMethod": "fadeOut" //消失时的动画方式
    };

    message_pupus()
</script>
</body>
</html>
