{% extends "student/student_left_bar.html" %}
{% block title %}
    <link rel="stylesheet" href="/static/css/student_edit_photo.css">
    <title>修改图片</title>
{% endblock title %}

{% block content %}

    <div class="class-info-container">
    <br>
        <br>
        <img class="pic" id = "{{ can_edit_info }}" style="width:100px;height:100px;border-radius:50%;"
             src="{{ img_path }}">
        <input id="upload" name="file" accept="image/*" type="file" style="display: none">
        <br>
        <br>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">人脸识别照片</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ username }}</h6>
                {% if is_valid %}
                <p class="card-text" style="color: red">可用此处照片</p>
                {% else %}
                <p class="card-text" style="color: red">此处照片不可用</p>
                {% endif %}
                <p class="card-text">提示：您在此录入的照片可被作为人脸识别系统使用，请上传正确照片。如果无法录入照片，请点击下方申请权限。</p>
                <a href="#" class="btn btn-primary">申请录入权限</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/static/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/student_edit_photo.js"></script>
{% endblock content %}
