{% extends "student/student_left_bar.html" %}
{% block title %}
    <link rel="stylesheet" href="/static/css/table_scroll.css">
    <link rel="stylesheet" href="/static/css/student_cat_class.css">
    <title>查看打卡记录</title>
{% endblock title %}

{% block content %}
    <div class="class-info-container">
        <h1 class="class-title">学生打卡记录</h1>
        <br>
        <div class="tablebox">

            <table id="tableId" border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr class="class-info-title">
                    <th>时间</th>
                    <th>体温</th>
                    <th>地点</th>
                </tr>
                </thead>
                <tbody>
                {% for punch_record in punch_record_list %}
                    <tr>
                        <th>{{ punch_record.time }}</th>
                        <th>{{ punch_record.temp }}</th>
                        <th>{{ punch_record.address_dec }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="/static/static/jquery-3.6.0.js"></script>
    <script type="text/javascript" src='/static/js/table_scroll.js'></script>
{% endblock content %}
