asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.9
colorlog==6.6.0
configparser==5.2.0
Django==3.2.9
docopt==0.6.2
future==0.18.2
idna==3.3
Pillow==8.4.0
pipreqs==0.4.11
PyMySQL==1.0.2
pytz==2021.3
requests==2.27.1
sqlparse==0.4.2
tencentcloud-sdk-python==3.0.607
urllib3==1.26.7
yarg==0.1.9
