[database]
db_engine = django.db.backends.mysql
db_name = web_sys_db
db_user = admin
db_password = 123456
db_addr = 127.0.0.1
db_port = 3306

[log]
file_dir = ../sys.log
out_put = True
file_level = INFO
stream_level = INFO


[tx_api]
secret_id = ... # 腾讯api_id
secret_key = ...    # 腾讯api_key
group_id = ...  # 人员库id
