<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/admin_left_bar.css">
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
    {% block title %}
    <title>主页</title>
    {% endblock title%}
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>管理员({{ username }})</header>
        <ul>
            <li><a href="/admin/home/"><i class="fas fa-home"></i>主页</a></li>
            <li><a href="/admin/add/user/"><i class="fas fa-user-plus"></i>添加账号</a></li>
            <li><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
            <li><a href="#"><i class="fas fa-calendar-week"></i>Events</a></li>
            <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
            <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
            <li><a href="/logout/"><i class="fas fa-sign-out-alt"></i>退出登录</a></li>
        </ul>
    </div>
    <section>
        {% block content %}{% endblock content%}
    </section>
</body>
</html>
