{% extends "admin/admin_left_bar.html" %}
{% block title %}
    <link rel="stylesheet" href="/static/css/admin_class_manage.css">
    <link rel="stylesheet" href="/static/css/table_scroll.css">
    <title>班级管理</title>
{% endblock title %}

{% block content %}

    <div class="class-info-container">
        <h1 class="class-title">班级信息</h1>
        <div class="tablebox">

            <table id="tableId" border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr class="class-info-title">
                    <th>序号</th>
                    <th>班级名称</th>
                    <th>班级编码</th>
                    <th>班级创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for class in class_list %}

                    <tr>
                        <th>{{ class.id }}</th>
                        <th>{{ class.name }}</th>
                        <th>{{ class.code }}</th>
                        <th>{{ class.year }}</th>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="class-add-container" id="login-box">
        <h1 class="class-title">添加班级</h1>
        <form class="class-form" action="">
            {% csrf_token %}
            <input type="submit" value="增加" class="input-btn add-btn" id="add-btn">
            <input type="submit" value="减少"  class="input-btn lower-btn" id="lower-btn">
            <div class="item" id="1">
                <i class="fas fa-greater-than" style="font-size:24px"></i>
                <input type="text" id="class-name" placeholder="班级名称">
            </div>

            <input type="submit"  class="input-btn" id="submit-btn">
        </form>
    </div>

    <script type="text/javascript" src="/static/static/jquery-3.6.0.js"></script>
    <script type="text/javascript" src = '/static/js/table_scroll.js'></script>
    <script type="text/javascript" src = '/static/js/admin_add_class.js'></script>
{% endblock content %}
