<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>index</title>
</head>
<body>
<div class="content-left">
    <div class="top-logo">
        <img src="../static/img/logo.png">
    </div>
    <div class="big-logo">
        <img src="../static/img/校训-带logo.png">
    </div>
    <div class="btn">
        <div class="btn-chirld student-login">
            <a href="">学生登录</a>
        </div>
        <div class="btn-chirld teacher-login">
            <a href="">教师登录</a>
        </div>
        <div class="btn-chirld admin-login">
            <a href="">管理员登录</a>
        </div>
    </div>

</div>
</body>
</html>