<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="" href="../static/css/bootstrap-4.6.1-dist/bootstrap.css">
    <link rel="stylesheet" type="" href="../static/css/index.css">

    <title>index</title>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-3 content-left">
            <div class="top-logo">
                <img src="../static/img/logo.png">
            </div>
            <div class="big-logo">
                <img src="../static/img/校训-带logo.png">
            </div>
            <div class="btn">
                <div class="btn-chirld student-login">
                    <a href="">学生登录</a>
                </div>
                <div class="btn-chirld teacher-login">
                    <a href="">教师登录</a>
                </div>
                <div class="btn-chirld admin-login">
                    <a href="">管理员登录</a>
                </div>
            </div>
        </div>

    </div>
</div>


    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap-4.6.1-dist/bootstrap.js"></script>
</body>
</html>